<div class="product-item"  >
  <mat-card fxLayout="column">
    <div class="product-img">
        <a class="product-link" [routerLink]="['/home/product', product.id]">
          <img [src]="product.pictures[0].big" alt="">
       </a>
    </div>
     <div class="product-info-wrapper">
        <span class="category">{{product.category}}</span>
        <div class="title-wrap">
           <h4>{{product.name}}</h4>
        </div>
        <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="stars">
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
             </div>
         <p>${{product.price | number : '1.2-2'}}</p>
        </div>
        <div class="btn-wrap" fxLayout="row" fxLayoutAlign="space-between center">
            <a (click)="addToCart(product)">ADD TO CART <mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon></a>

        </div>
        <div class="icons" fxLayout="column">
           <a (click)="addToWishlist(product)"><mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></a>
           <a (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></a>
           <a (click)="addToCompare(product)"><mat-icon>cached</mat-icon></a>
         </div>
     </div>
  </mat-card>
</div>















