






<div class="home-header">
  <div class="container" >
    <div class="header-wrapper" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-between center" >
        <div class="phone-wrap" fxLayout="row">
            <div class="info-text mr-10">
                <p>Helpline:</p>
                 <span>02(981)336 111</span>
              </div>
              <div class="info-text">
                  <p>Helpline:</p>
                   <span>02(981)336 222</span>
                </div>
        </div>

        <div class="logo">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="assets/images/logo-02-01.png"></a>
        </div>
        <div class="thm-button">
            <button mat-raised-button color="primary">REQUEST A QUOTE</button>
        </div>


    </div>


  </div>
</div>
<div class="container">
<div class="menu-container1" fxLayout="row" fxLayoutAlign="space-between center" >

      <app-menu></app-menu>
      <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >

              <div class="main-menu-wrapper-2" fxLayout="row"  fxLayoutAlign="space-between center" >
                  <mat-toolbar class="top-navbar top menu">
                      <div fxflexoffset.gt-sm="10"  fxFlex class="search-form">
                          <mat-form-field appearance="legacy">
                              <mat-label>Legacy form field</mat-label>
                              <input matInput placeholder="Search">
                              <i class="material-icons">
                                  search
                                  </i>
                            </mat-form-field>
                         </div>
                         <div class="devider2">

                         </div>
                    <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
                  </mat-toolbar>
                </div>
            </div>
  </div>

</div>

